@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {

    --font-base: "Bai Jamjuree";
    --border-radius: 1.2rem;
    --border-radius-lg: 2.4rem;

    --color-bg: hsl(129, 41%, 16%);
    --color-bg2: hsl(129, 41%, 24%);
    --color-brand: hsl(31, 85%, 62%);
    --color-brand2: hsl(31, 85%, 52%);
    --sidebar-hsl: 129, 41%, 10%;
    --color-body: hsl(129, 41%, 80%);
    --color-heading: hsl(129, 41%, 95%);
}
